.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.avatar {
  align-items: center;
  width: 450px;
  margin: 0 auto;
}
.age
{
  font-size: 40px;
}
.h2
{
  font-size: 40px;
}